name: CD Pipeline

on:
  workflow_run:
    workflows: ["CI Pipeline"]
    types: [completed]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Pull Docker image
        run: sudo docker pull azarin21/musclex:latest

      - name: Remove old container
        run: sudo docker rm -f cicd-pipeline-container || true

      - name: Run new container
        run: |
          sudo docker run -d \
            -p 3000:3000 \
            -e RAZORPAY_KEY_ID=${{ secrets.RAZORPAY_KEY_ID }} \
            -e RAZORPAY_KEY_SECRET=${{ secrets.RAZORPAY_KEY_SECRET }} \
            --name cicd-pipeline-container \
            azarin21/musclex:latest
