name: CI Pipeline

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build image (SHA + latest)
        run: |
          docker build -t azarin21/musclex:${{ github.sha }} ./server
          docker tag azarin21/musclex:${{ github.sha }} azarin21/musclex:latest

      - name: Push image
        run: |
          docker push azarin21/musclex:${{ github.sha }}
          docker push azarin21/musclex:latest
